html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    background-color: black;
    background-image: url(../pictures/cosmos.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    font-family: "Open Sans", sans-serif;
  }
  
  .menu-button {
    display: none;
  }
  
  .top-navigation {
    display: flex;
    position: fixed;
    top: 0;
    float: left;
    border: none;
    z-index: 30;
    flex-direction: column;
    padding: 1vw;
  }
  
  .top-navigation__item {
    display: flex;
    width: 130px;
    height: 130px;
    border: 3px solid rgb(16, 0, 31);
    border-radius: 50%;
    background-color: rgba(58, 0, 83, 0.589);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin: 15px;
    text-decoration: none;
    color: rgb(255, 102, 0);
    transform: scale(1);
    transition: background-color 0.5s linear, transform 0.5s linear, color 0.5s linear;
    
  }
  .top-navigation__item:visited {
    color: rgb(255, 102, 0);
    background-color: rgba(58, 0, 83, 0.589);
    transform: scale(1);
    transition: background-color 0.5s linear, transform 0.5s linear, color 0.5s linear;
  }
  .top-navigation__item:hover {
    color: #dddddd;
    background: rgba(185, 90, 204, 0.521);
    transform: scale(1.1);
  }
  
  .top-navigation__item--disabled {
    display: flex;
    width: 130px;
    height: 130px;
    border: 3px solid rgb(16, 0, 31);
    border-radius: 50%;
    background: rgba(58, 0, 83, 0.445);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin: 15px;
    text-decoration: none;
    color: rgba(185, 90, 204, 0.521);
  }
  
  
  .page-content {
    min-height: calc(100vh - 50px);
    margin: 0;
    padding-top: 50px;
  }
  
  .main-header {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 20px;
  }
  
  .main-header__author {
    flex-wrap: nowrap;
    text-align: center;
    color: rgb(157, 46, 190);
    font-size: 2.5em;
    text-shadow: rgb(24, 0, 46) 0 0 0.1em, rgba(163, 1, 128, 0.904) 0 0 0.1em;
    transition: text-shadow 0.5s linear;
    margin: 0;
  }
  
  .main-header__author:hover {
    text-shadow: rgb(24, 0, 46) 0 -0.2em 0.1em,
      rgba(163, 1, 128, 0.904) 0 0.2em 0.1em;
  }
  
  .main-header__image {
    filter: brightness(0.8);
    transform: scale(1);
    transition: filter 0.5s linear;
    transition: transform 0.5s linear;
    margin: 0;
  }
  
  .main-header__image:hover {
    filter: brightness(1.1);
    transform: scale(1.1);
  }
  
  .main-header__title {
    display: inline-block;
    color: rgb(216, 0, 0);
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: rgba(165, 60, 0, 0.801) 0 0 0.1em;
    margin: 0;
    padding: 20px 0;
    line-height: 50%;
    transition: text-shadow 0.5s linear;
  }
  
  .main-header__title span {
    font-size: 48%;
    font-style: normal;
    color: rgb(255, 102, 0);
  }
  
  .main-header__title:hover {
    text-shadow: rgba(255, 102, 0, 0.801) 0 0 0.3em;
  }
  
  main {
    display: block;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 40px;
    word-wrap: break-word;
  }
  
  .section {
    background: rgba(21, 0, 44, 0.692);
    border-radius: 2vw;
    border-color: rgb(16, 0, 31);
    border-style: groove;
    padding: 0 1vw;
    margin: 0 1.5vw 1.5vw;
  }
  
  .half-size-sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 1.5vw;
    text-align: justify;
  }
  
  .section__heading--gradient-box {
    display: flex;
  }
  
  .section__heading {
    background: linear-gradient(90deg, #f9c802, #ec3c06);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 22px;
  }
  .section__heading::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #f9c802;
    margin-right: 8px;
  }
  .section__text {
    color: #dddddd;
    margin-left: 0.5vw;
    text-shadow: black 0.2em 0.2em 0.2em;
  }
  
  
  .navigation-weeks__list {
    color: rgb(255, 102, 0);
    margin-left: 1vw;
    line-height: 1.5em;
  }
  
  .navigation-weeks__link:link {
    color: #dddddd;
    text-decoration: none;
    font-weight: bold;
  }
  .navigation-weeks__link:visited {
    color: #dddddd;
  }
  .navigation-weeks__link:hover {
    color: rgb(111, 53, 129);
  }
  .navigation-weeks__link:active {
    color: rgb(21, 0, 31);
  }
  
  .week-article__heading {
    display: inline-block;
    background: rgb(23, 0, 37);
    border-radius: 0.5vw;
    padding: 0 10px;
    color: rgb(255, 102, 0);
    box-shadow: 5px 5px 5px black;
    position: sticky;
    top: 10px;
    z-index: 20;
  }
  
  .week-article__text {
    color: #dddddd;
    margin-left: 1.3vw;
    text-shadow: black 0.2em 0.2em 0.2em;
  }
  
  .week-article__list .week-article__list-item {
    color: rgb(255, 102, 0);
    margin-left: 1vw;
    line-height: 1.5em;
  }
  .week-article__list-content {
    color: #dddddd;
    text-shadow: black 0.2em 0.2em 0.2em;
  }
  
  .inner-section {
    margin: 0 0 15px;
    background: rgba(83, 39, 119, 0.253);
    border-color: none;
    border-style: none;
    border-radius: 2vw;
    padding: 0.5vw 1vw;
  }
  
  .inner-section__heading {
    color: #dddddd;
    font-weight: bold;
    text-shadow: black 0.2em 0.2em 0.2em;
    margin-left: 20px;
  }
  
  .inner-section__text {
    color: #dddddd;
    margin-left: 20px;
    text-shadow: black 0.2em 0.2em 0.2em;
    color: #dddddd;
    margin-left: 2vw;
    text-shadow: black 0.2em 0.2em 0.2em;
  }
  
  .inner-section-list {
    color: rgb(255, 102, 0);
    margin-left: 1vw;
    line-height: 1.5em;
  }
  
  .inner-section-list__content {
    color: #dddddd;
    text-shadow: black 0.2em 0.2em 0.2em;
  }
  
  .section__list {
    color: rgb(255, 102, 0);
    margin-left: 10px;
    line-height: 1.5em;
  }
  
  .section__list-content {
    color: #dddddd;
    text-shadow: black 0.2em 0.2em 0.2em;
  }
  
  .footer {
    width: 100%;
    padding: 10px;
    color: #7f61a3;
    font-size: small;
    text-align: center;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin: none;
  }
  
  .up-navigation {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    float: right;
    width: 130px;
    height: 130px;
    border: 3px solid rgb(16, 0, 31);
    border-radius: 50%;
    background-color: rgba(58, 0, 83, 0.589);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin: 30px;
    text-decoration: none;
    color: rgb(255, 102, 0);
    transform: scale(1);
    transition: background-color 0.5s linear, transform 0.5s linear, color 0.5s linear;
    
  }
  
  .up-navigation:visited {
    color: rgb(255, 102, 0);
    background-color: rgba(58, 0, 83, 0.589);
    transform: scale(1);
    transition: background-color 0.5s linear, transform 0.5s linear, color 0.5s linear;
    
  }
  .up-navigation:hover {
    color: #dddddd;
    background: rgba(185, 90, 204, 0.521);
    transform: scale(1.1);
  }
  
  .external-link:link {
    color: #dddddd;
    text-decoration: none;
    font-weight: bold;
  }
  .external-link:visited {
    color: #dddddd;
  }
  .external-link:hover {
    color: rgb(111, 53, 129);
  }
  .external-link:active {
    color: rgb(21, 0, 31);
  }
  
  .internal-link:link {
    color: rgb(255, 102, 0);
    text-decoration: none;
    font-weight: bold;
  }
  .internal-link:visited {
    color: rgb(255, 102, 0);
  }
  .internal-link:hover {
    color: rgb(111, 53, 129);
  }
  .internal-link:active {
    color: rgb(21, 0, 31);
  }
  
  .mark {
    font-weight: bolder;
    color: rgb(255, 73, 17);
  }
  
  .name-illustrations {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .name-illustrations__figure {
    display: inline-block;
    margin: 10px;
  } 
  
  .name-illustrations__image {
    margin: none;
    max-width: 180px;
    box-shadow: 5px 5px 5px black; 
  }
  
  .name-illustrations__figcaption {
    color: #dddddd;
    text-shadow: black 0.2em 0.2em 0.2em;
    font-size: 12px;
    text-align: center;
    padding: 5px 0;
  }
  
  .quote {
    font-weight: bold;
  }
  
  /*klasy kolorów kodu*/
  .tag-color {
    color: rgb(28, 88, 255);
  }
  
  .atribute-color {
    color: rgb(55, 161, 228);
  }
  
  .content-color {
    color: tomato;
  }
  
  .sign-color {
    color: grey;
  }
  /**/
  
  /*URL opis i podświetlany adres*/
  
  .http-address__container {
    width: 100%;
    clear: both;
    margin: 10px;
    padding: 0 0 5px;
  }
  .http-address__text {
    font-size: 130%;
    font-weight: bold;
    text-shadow: black 0.05em 0.05em 0.08em;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  abbr[title] {
    text-decoration: none;
    cursor: pointer;
  }
  
  .light-on-hover {
    color: rgb(171, 81, 255);
  }
  .light-on-hover:hover {
    color: rgb(255, 102, 0);
  }
  
  .light-on-hover--root {
    color: rgb(171, 81, 255);
  }
  .light-on-hover--root:hover {
    color: red;
  }
  
  /**/
  
  .box-model__wrapper {
    margin-bottom: 20px;
  
  }
  
  .box-model-area {
    display: block;
    height: 300px;
    width: 350px;
    position: relative;
    float: left;
    margin: 0 30px;
  }
  
  .box-model {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-left: 0.3vw;
    font-size: 12px;
    font-weight: bold;
    color: rgb(27, 0, 39);
  }
  
  .box-model__margin {
    z-index: 10;
    background: rgb(173, 137, 202);
    max-width: 100%;
    max-height: 100%;  
  }
  .box-model__margin:hover {
    background: rgb(236, 172, 52);-webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
    animation: pulsate-fwd 1.5s ease-in-out infinite both;
  }
  
  .box-model__border {
    z-index: 11;
    background: rgb(158, 81, 221);
    max-width: 70%;
    max-height: 70%;
  }
  .box-model__border:hover {
    background: rgb(236, 172, 52);
  }
  
  .box-model__padding {
    z-index: 12;
    background: rgb(120, 38, 187);
    max-width: 50%;
    max-height: 50%;
  }
  .box-model__padding:hover {
    background: rgb(236, 172, 52);
  }
  
  .box-model__content {
    z-index: 13;
    background: #dddddd;
    max-width: 30%;
    max-height: 30%;
  }
  .box-model__content:hover {
    background: rgb(236, 172, 52);
  }
  
  .no-float {
    clear: both;
  }
  
  .bem-section__wrapper {
    min-height: 5vw;
  }
  
  .bem-section__hand-icon {
    display: block;
    position: relative;
    height: 100px;
    margin: 0;
    float: right;
    transform: scale(1);
    transition: transform 0.5s linear;
  }
  .bem-section__hand-icon:hover {
    transform: scale(1.2);
  }
  
  .code {
    color: #c47124;
  }
  .code-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  pre {
    white-space: pre-wrap;
  }
  
  
  .grid-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "heading heading"
    "content scheme"
    "content aside"
    "footer footer";
    column-gap: 10px;
  }
  .grid-section__heading {
    grid-area: heading;
  }
  .grid-section__scheme {
    display: block;
    grid-area: scheme;
    max-width: 100%;
    align-self: center;
    transform: translate(0) scale(1);
    transition: transform 0.5s ease-out;
  }
  .grid-section__scheme--clicked {
    transform: translate(-50%) scale(2);
    transition: transform 0.5s ease-out;
  }
  
  .grid-section__content {
    grid-area: content;
  }
  .grid-section__footer {
    grid-area: footer;
    text-align: center;
  }
  .grid-aside {
    grid-area: aside;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  .grid-aside__text {
    display: inline-block;margin: 5px;
  }
  .grid-aside__image {
    display: inline-block;
    margin: none;
    -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
              animation: pulsate-fwd 1.5s ease-in-out infinite both;
  }
  /* ----------------------------------------------
   * Generated by Animista on 2020-5-19 15:23:31
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */
  
  /**
   * ----------------------------------------
   * animation pulsate-fwd
   * ----------------------------------------
   */
   @-webkit-keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.3);
              transform: scale(1.3);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.3);
              transform: scale(1.3);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  .grid-template-areas {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-areas: "property value";
    column-gap: 5px;
    margin: 3px;
  }
  .grid-template-areas__property {
    grid-area: property;
  }
  .grid-template-areas__value {
    grid-area: value;
    margin-left: 5px;
  }
  
  @media screen and (max-width: 1340px) {
    .menu-button {
      display: inline-block;
      position: fixed;
      top: 0;
      width: 100%;
      height: 50px;
      text-align: center;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
      padding: 10px;
      border: 2px solid rgb(16, 0, 31);
      background-color: rgb(58, 0, 83);
      color: #dddddd;
      z-index: 30;
    }
    .top-navigation {
      display: none;
    }
    .top-navigation--open {
      display: flex;
      position: fixed;
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      top: 50px;
      border: none;
      z-index: 30;
      padding: 1vw;
      background-color: rgba(173, 137, 202, 0.795);
    }
    .top-navigation__item {
      display: flex;
      width: 100px;
      height: 100px;
      border: 2px solid rgb(16, 0, 31);
      border-radius: 50%;
      background-color: rgba(58, 0, 83, 0.932);
      text-align: center;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      margin: 7px;
      text-decoration: none;
      color: rgb(255, 102, 0);
      transform: scale(1);
      transition: background-color 0.5s linear, transform 0.5s linear, color 0.5s linear;
      }
      .top-navigation__item:visited {
        color: rgb(255, 102, 0);
        background-color: rgba(58, 0, 83, 0.589);
        transform: scale(1);
        transition: background-color 0.5s linear, transform 0.5s linear, color 0.5s linear;
      }
      .top-navigation__item--disabled {
        display: flex;
        width: 100px;
        height: 100px;
        border: 2px solid rgb(16, 0, 31);
        border-radius: 50%;
        background: rgba(58, 0, 83, 0.863);
        text-align: center;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        margin: 7px;
        text-decoration: none;
        color: rgba(185, 90, 204, 0.521);
      }
      .page-content {
        min-height: calc(100vh - 100px);
      }
    
    .week-article__heading {
      display: inline-block;
      background: rgb(23, 0, 37);
      border-radius: 0.5vw;
      padding: 0 10px;
      color: rgb(255, 102, 0);
      box-shadow: 5px 5px 5px black;
      position: sticky;
      top: 50px;
      z-index: 20;
    }
    .up-navigation {
      display: flex;
      position: fixed;
      bottom: 0;
      right: 0;
      float: right;
      width: 70px;
      height: 70px;
      border: 2px solid rgb(16, 0, 31);
      border-radius: 50% 0 0 0;
      background-color: rgba(58, 0, 83, 0.822);
      text-align: right;
      padding-right: 12px;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      margin: 0;
      text-decoration: none;
      color: rgb(255, 102, 0);
      transform: none;
      transition: none;
      
    }
    
    .up-navigation:visited {
      color: rgb(255, 102, 0);
      background-color: rgba(58, 0, 83, 0.822);
      transform: none;
      transition: none;
      
    }  
    .up-navigation:hover {
      color: rgb(255, 102, 0);
      background-color: rgba(58, 0, 83, 0.822);
      transform: none;
    }
    
  }
    
  
  
  
  
  
  @media screen and (max-width: 700px) {
    .main-header__author {
      font-size: 1.5em;    
    }
    .main-header__image {
      width: 40vw;
      height: auto;
    }
    .main-header__title {
      font-size: 30px;
      text-transform: uppercase;
      text-align: center;
      text-shadow: rgba(165, 60, 0, 0.801) 0 0 0.1em;
      margin: auto;
      padding: 20px 0;
      line-height: 50%;
      transition: text-shadow 0.5s linear;
    }
    .half-size-sections {
      display: block;
      text-align: justify;
    }
    .box-model__wrapper {
      margin-bottom: 20px;
    }
    .box-model-area {
      display: block;
      width: 80vw;
      height: 60vw;
      position: relative;
      float: none;
      margin: 0 auto;
    }
  
    .grid-section {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: "heading"
      "content"
      "scheme"
      "aside"
      "footer";
      row-gap: 10px;
    }
    .grid-section__scheme--clicked {
      transform: none;
      transition: none;
    }
    .footer {
      display: block;
      width: 80%;
    }
  
  }